# {{ cookiecutter.env | capitalize }} Environment - Provider Configuration

provider "azurerm" {
  features {
    key_vault {
      purge_soft_delete_on_destroy = var.environment != "prd"
    }
    virtual_machine {
      delete_os_disk_on_deletion = true
    }
  }
}
